header {
  position: relative;
  padding: 1.8rem 1rem;
  max-width: 1400px;
  margin: 0 auto;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}